In [1]:
import sys
from datetime import datetime
from os.path import join
from warnings import warn

import numpy as np
import pandas as pd
import scipy as sp

from utils import *

In [2]:
train_df = pd.read_pickle('../dataset/train.pkl')

In [3]:
test_df = pd.read_pickle('../dataset/test.pkl')

In [4]:
hotelid = train_df.hotelid.unique()

In [5]:
lastord = train_df.hotelid_lastord.unique()

In [6]:
test_id = test_df.hotelid.unique()

In [22]:
test_lastord = test_df.hotelid_lastord.unique()

In [9]:
hotelid.shape

(18543,)

In [10]:
lastord.shape

(17400,)

In [25]:
test_lastord.shape

(22716,)

In [12]:
len([x for x in hotelid if x not in lastord])

10031

In [18]:
len([x for x in lastord  if x not in hotelid and x not in test_id ])

4974

In [23]:
len([x for x in test_lastord  if x not in hotelid and x not in test_id ])

7312

In [12]:
train_df.roomservice_8.isnull().sum()

0

In [10]:
train_df.groupby(['orderlabel', 'roomservice_8']).count()

                          orderid     uid  orderdate  hotelid  basicroomid  \
orderlabel roomservice_8
0          1               377162  377162     377162   377162       377162
           2               282011  282011     282011   282011       282011
           3                91040   91040      91040    91040        91040
           4               145403  145403     145403   145403       145403
           5               168686  168686     168686   168686       168686
1          1                18548   18548      18548    18548        18548
           2                 5375    5375       5375     5375         5375
           3                 1149    1149       1149     1149         1149
           4                  297     297        297      297          297
           5                 5155    5155       5155     5155         5155

                          roomid    star    rank  returnvalue  price_deduct  \
orderlabel roomservice_8
0          1              377162  377162  377162       377162        377162
           2              282011  282011  282011       282011        282011
           3               91040   91040   91040        91040         91040
           4              145403  145403  145403       145403        145403
           5              168686  168686  168686       168686        168686
1          1               18548   18548   18548        18548         18548
           2                5375    5375    5375         5375          5375
           3                1149    1149    1149         1149          1149
           4                 297     297     297          297           297
           5                5155    5155    5155         5155          5155

                              ...       roomservice_6_lastord  \
orderlabel roomservice_8      ...
0          1                  ...                      341232
           2                  ...                      256739
           3                  ...                       83017
           4                  ...                      132158
           5                  ...                      154990
1          1                  ...                       16646
           2                  ...                        4837
           3                  ...                        1061
           4                  ...                         279
           5                  ...                        4740

                          roomservice_8_lastord  roomtag_2_lastord  \
orderlabel roomservice_8
0          1                             341811              59366
           2                             257061              47222
           3                              83121              14977
           4                             132343              24185
           5                             155197              27879
1          1                              16682               2641
           2                               4841               1075
           3                               1062                211
           4                                279                 70
           5                               4744                982

                          roomtag_3_lastord  roomtag_4_lastord  \
orderlabel roomservice_8
0          1                         312705             341811
           2                         236533             257061
           3                          76108              83121
           4                         121028             132343
           5                         143109             155197
1          1                          15180              16682
           2                           4372               4841
           3                            997               1062
           4                            258                279
           5                           4304               4744

                          roomtag_5_lastord  star_lastord  \
orderlabel roomservice_8
0          1                         341811        341811
           2                         257061        257061
           3                          83121         83121
           4                         132343        132343
           5                         155197        155197
1          1                          16682         16682
           2                           4841          4841
           3                           1062          1062
           4                            279           279
           5                           4744          4744

                          hotel_minprice_lastord  basic_minprice_lastord  \
orderlabel roomservice_8
0          1                              341811                  341811
           2                              257061                  257061
           3                               83121                   83121
           4                              132343                  132343
           5                              155197                  155197
1          1                               16682                   16682
           2                                4841                    4841
           3                                1062                    1062
           4                                 279                     279
           5                                4744                    4744

                          hotel_roomid
orderlabel roomservice_8
0          1                    377162
           2                    282011
           3                     91040
           4                    145403
           5                    168686
1          1                     18548
           2                      5375
           3                      1149
           4                       297
           5                      5155

[10 rows x 149 columns]

In [17]:
train_df.groupby(['orderlabel', 'roomservice_8_lastord']).uid.count()

orderlabel  roomservice_8_lastord
0           1.0                      593516
            2.0                      188729
            3.0                       35365
            4.0                       10212
            5.0                      141711
1           1.0                       17197
            2.0                        5102
            3.0                         933
            4.0                         302
            5.0                        4074
Name: uid, dtype: int64

In [21]:
train_df['r8e'] = (train_df.roomservice_8 == train_df.roomservice_8_lastord).astype(int)

In [27]:
train_df.shape

(1094826, 152)

In [26]:
765361 + 298941 + 16202 + 14322

1094826

In [34]:
train_df.groupby(['orderlabel', 'r8e', 'roomservice_8']).uid.count()

orderlabel  r8e  roomservice_8
0           0.0  1                128327
                 2                200883
                 3                 80045
                 4                130818
                 5                130519
            1.0  1                213484
                 2                 56178
                 3                  3076
                 4                  1525
                 5                 24678
1           0.0  1                  5267
                 2                  3600
                 3                   860
                 4                   215
                 5                  3344
            1.0  1                 11415
                 2                  1241
                 3                   202
                 4                    64
                 5                  1400
Name: uid, dtype: int64

In [32]:
train_df.loc[train_df.orderdate_lastord.isnull(), 'r8e'] = np.nan

In [30]:
train_df.orderdate_lastord.isnull().sum()

97685